page-home {
	.bold{
		font-weight: bold;
		font-size: 2em;
		background-color:#eee;
	}
	.monto{
		padding:1em;
		text-align: center;
		background-color: #3f51b5;
		p{
			color:white !important;
			font-size: 36px;
			margin:0px;
		}
		.card-header-md{
			padding:0px;
			color:white !important;
			font-size:12px;
		}
	}  
}
