<ion-header>
  <ion-navbar primary>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
   <ion-card class="monto">
    <ion-card-header>
      Monto actual
    </ion-card-header>
    <p>{{wallet.amount}}</p>
    
  </ion-card>
  <ion-card>
    <ion-card-header class="bold">
      😁 Movimientos 
    </ion-card-header>
    <ion-list *ngFor="let transaction of transactions">
      <button ion-item>
        <strong>{{transaction.amount}}</strong>
        {{transaction.title}}
      </button>
    </ion-list>
  </ion-card>

  <ion-fab class="main">
    <button ion-fab [navPush]="addingPage">💸</button>
  </ion-fab>
</ion-content>
