<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Mapa" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Carteras" tabIcon="card"></ion-tab>
</ion-tabs>
