<!--
  Generated template for the NewWallet page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Crear nueva cartera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
    <ion-label floating>Nombre</ion-label>
    <ion-input type="text"  [(ngModel)]="model.name" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Monto inicial</ion-label>
    <ion-input type="number"  [(ngModel)]="model.amount" ></ion-input>
  </ion-item>
  
  <div class="text-right top-20">
    <button ion-button (click)="save()" >Agregar</button>
  </div> 
</ion-content>
