<!--
  Generated template for the Map page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Dónde has realizado tus compras</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<div [hidden]="map">Cargando el mapa</div>
	<div id="map">
	</div>
</ion-content>
