.toolbar-background {
  background-color: #1C1D21;
  
}
.toolbar-title{
	color:#EEEFF7;
}
.text-right{
	text-align:right;
}
.top-20{
	margin-top:20px;
}
.top-1em{
	margin-top:1em;
}
ion-fab.main{
  bottom:1em;
  right:1em;
  button{
  	background-color:#222;
  	font-size: 1.5em !important;
  }
}