<ion-header>
  <ion-navbar primary>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <div class='red main' [ngClass]="{'green': positive}">
    <input type="number"  [(ngModel)]="model.amount" autofocus="true" placeholder="0">
  </div>
  <ion-item>
    <ion-label floating>Descripción</ion-label>
    <ion-input type="text"  [(ngModel)]="model.title" ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label> Ingreso</ion-label>
    <ion-toggle [(ngModel)]="positive"></ion-toggle>
  </ion-item>
  <ion-item>
	  <ion-label> Guardar ubicación</ion-label>
	  <ion-toggle [(ngModel)]="shouldGeolocate" (ionChange)="getLocation()"></ion-toggle>
	</ion-item>
  <img [src]="imageData"  *ngIf="imageData">
  <div class="text-right top-20">
    <button ion-button clear (click)="getPhoto()">
      <ion-icon name="add"></ion-icon>
      Agregar foto
    </button>
    <button ion-button (click)="save()" [disabled]="!shouldSend">Agregar</button>
  </div> 
</ion-content>
 