page-adding {
	img{
		height: 90px;
    border: solid 1px #eee;
    margin-left: 1em;
		margin-top:1em;
	}
	.main{
		text-align: center;
		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    color:    #eee;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    #eee;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    #eee;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    #eee;
		}
		input{
			font-size:2em;
			background-color:transparent;
			border:none;
			outline: none;
			color:white;
		}
	}
	.red{
		background-color: #ff1744;
	}
	.green{
		background-color: #00e676;
	}
	.main{
		padding:2em;
	}
}
